<section class="goal-list">
  <ng-container *ngIf="loadingGoals">
    <app-loading></app-loading>
  </ng-container>
  <ng-container *ngIf="!loadingGoals">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Goal Name</th>
          <th>Goal Priority</th>
          <th>Goal Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let goal of goals">
          <td>{{goal.name}}</td>
          <td>{{goal.priority}}</td>
          <td>{{goal.status}}</td>
          <td class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" ngbTooltip="Edit">
                <fa-icon [icon]="faPencil"></fa-icon>
              </button>
              <button type="button"
                      class="btn btn-danger"
                      ngbTooltip="Delete"
                      [swal]="{title: 'Confirm delete', text: 'This action is irreversible. Are you sure you want to delete this goal?', showDenyButton: true, confirmButtonText: 'Confirm', denyButtonText: 'Cancel'}"
                      (confirm)="deleteGoal(goal.id)">
                <fa-icon [icon]="faTimes"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</section>

